Djangopractice/Djangopractice/__pycache__/urls.cpython-313.pyc
Djangopractice/Djangopractice/__pycache__/urls.cpython-313.pyc
Djangopractice/Djangopractice/__pycache__/urls.cpython-313.pyc
Djangopractice/Djangopractice/__pycache__/views.cpython-313.pyc
