<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About-App</title>
</head>
<body>
    <h1>About APP</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia atque reiciendis voluptates blanditiis magnam ea! Neque sapiente nulla recusandae, iusto delectus exercitationem perferendis repudiandae consequuntur voluptate dignissimos voluptates quia accusantium.</p>
    <p>Created a app, with Django!</p>
</body>
</html>