{% extends "layout.html" %}

{% block title %}about Me{% endblock title %}

{% block content %}
    <h1>About me</h1>
    <p>Lobortis elementum nibh tellus molestie nunc non blandit. Dui nunc mattis enim ut tellus elementum. Nec
        ullamcorper sit amet risus nullam eget. Risus nullam eget felis eget nunc lobortis mattis. Sed faucibus turpis
        in eu. Nisi porta lorem mollis aliquam ut porttitor leo.</p>
    <p>Ultricies mi quis hendrerit dolor magna eget est. Fringilla phasellus faucibus scelerisque eleifend donec pretium
        vulputate sapien. Fermentum leo vel orci porta. Pharetra convallis posuere morbi leo urna molestie. Non
        curabitur gravida arcu ac tortor dignissim convallis. Non curabitur gravida arcu ac tortor dignissim convallis
        aenean. Eleifend donec pretium vulputate sapien. Ultrices sagittis orci a scelerisque purus semper eget. Nulla
        malesuada pellentesque elit eget gravida cum sociis natoque penatibus. Vitae nunc sed velit dignissim sodales ut
        eu.</p>
    <h1>About the project</h1>
    <p>This project is basically a practice with django not html and css </p>
{% endblock %}
