{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django-Practice</title>
    <!-- <link rel="stylesheet" href="../../static/style.css"> -->
     <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <h1>Django Practice : work in progress</h1>
</body>
</html>

<!-- https://www.youtube.com/watch?v=66lfSjIrG8M&list=PLu71SKxNbfoDOf-6vAcKmazT92uLnWAgy&index=4 -->
 <!-- Time Stamp : 22mins -->
  <!-- Templating engine -->